.nav{
    background-color: #c7fcf1;
}
a{ 
    text-decoration: none;
    color: 	black;
    padding: 7px;
    padding-top: 30px;
    padding-left: 15px;
    padding-bottom: 30px;
    width: 100%;
}
.item{
    display: flex;
    border-bottom: 1px solid #7cc1b0;
}
.item :hover{
    transition: 0.3s;
    background-color: #8ed1c1;
    font-weight: 500;
}