.dialogs_title{
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
}
.dialogs_page{
    padding-left: 30px;
    padding-top: 30px;
    display: flex;
}
.dialog_data{
    margin-top: 50px;
    padding: 10px;
    padding-bottom: 50px;
}
.textarea{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-top: 50px;
    margin-left: 30px;
}
.textarea button{
    margin-top: 10px;
}